@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .focus-styles:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
  }
}

.test-quote:last-of-type {
  font-weight: bold;
  color: #000060;
}

.calendly-badge-widget {
  position: unset !important;
}

.calendly-badge-widget .calendly-badge-content {
  font-family: "Montserrat", sans-serif !important;
  padding: 0.625rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  color: #010203 !important;
  border-radius: 6px !important;
  transition: background 0.3s ease;
}

.calendly-badge-content:hover {
  background: #befff5 !important;
}

a .social-svg > path {
  transition: fill 0.3s ease;
}

a .social-svg {
  transition: transform 0.3s ease;
}

a:hover .social-svg > path {
  fill: #6d588e;
}

a:hover .social-svg {
  transform: scale(1.2);
}
